doctype html

html
	head
		title Node Boilerplate
		link(href="/global.css?" + version, rel='stylesheet', type='text/css')
		script window.global = {version: "#{version}", debug: !{devMode}}
		script(src="//code.jquery.com/jquery-3.4.0.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/client.js?" + version)

	body
		h1 Welcome to the Node Boilerplate
		#output
		h2 Chat
		input#txtMessage(placeholder='Message')
		button#btnSend Send
		h3 Received messages:
		#messages
